html {
    background-color: rgb(44, 44, 44);
    color: rgb(59, 59, 59);
    
}

.Background {
    color: rgb(101, 101, 101);
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;

    bottom: 0;
    width: 100%;
}