html {
  font-family: "Palanquin Dark", "Open Sans", sans-serif;
  background-color: #1d1d1d;
}

footer {
  background-color: #333;
  color: white;
  padding: 1em;
  bottom: 0px;
  text-align: center;
  z-index: 3;
}

.box {
  padding-top: 50px;
  padding-left: 40px;
  margin-top: 40px;
  color: #585858;
}

.main {
  color: #b3b3b3;
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 60px;
}

.rules {
  color: #b3b3b3;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 30px;
}

.end {
  color: #d43737;
  font-size: 25px;
  font-weight: 600;
}

.icon-link {
  max-width: 20px;
  max-height: 20px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #333;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#d1c73f, #6b6620);
  border-radius: 10px;
}

.Rule-n {
  color: #d1c73f;
  font-size: large;
  font-weight: bold;
  padding-right: 1rem;
}

.Rule-t {
  max-width: 1000px;
  font-size: 18px;
  color: #b3b3b3;
}

.rule-badge-y {
  background-color: #d1a53f;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  color: #b3b3b3;
  font-weight: 700;
}

.rule-badge-r {
  background-color: #d13f3f;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  color: #b3b3b3;
  font-weight: 700;
}

.Rule-v {
  text-align: center;
}

.napomenutia {
  font-size: 30px;
  text-align: center;
  color: #b3b3b3;
}
