h1 {
    margin-top: 60px;
    text-align: center;
}

.box {
    box-sizing: border-box;
    text-align: center;
    background-color: #d1c73f;
    border-radius: 12px;

    width: 46.625rem;
    max-width: 100%;
    display: flex;
    padding: 1.25rem 2rem;

    position: absolute;
    bottom: 45px;
    display: flex;
    width: 100%;
    
    
}

.text-box {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 5px;
    font-weight: 700;
    color: #fff;
    font-family: sans-serif;
    
}

.IP {
    font-weight: 500;
}

img {
    width: 100%;
    height: 100%;
}

html {
    font-family: "Palanquin Dark", "Open Sans", sans-serif;
}

footer {
    background-color: #333;
    color: white;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
}